.bs4-cdli-card-horizontal {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;

  img {
    height: 12rem;
    min-width: 12rem;
    width: 12rem;
  }

  .card-title {
    font-size: 1.25rem;
  }

  .card-text {
    font-size: 14px;
  }
}

@media only screen and (max-width: 600px) {
  .bs4-cdli-card-horizontal {
    flex-direction: column;

    img {
      height: 15rem;
      width: 100% !important;
    }
  }
}
